body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:1024px 682px;
  position:relative;
  left:-328px;
  width:339px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:249px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:225px;
  width:249px;
  height:249px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:300px;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:153px;
  width:257px;
  height:334px;
  font-size:300px;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
