body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:910px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:910px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:447px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:249px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:511px;
  width:249px;
  height:249px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:300px;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:439px;
  width:257px;
  height:334px;
  font-size:300px;
  text-align:center;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
